body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.top-tag{
    text-align: center;
    margin: 0;
    padding-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1px;
   
}

.border{
     border-bottom: 0.5px solid rgb(221, 220, 220);
    width:100%;
    /* padding-left:100%;
    margin-left:-100%; */
}



.logo h1 {
    margin: 0;
    letter-spacing: 3px;
}

.nav-links {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 15px;
}


.nav-links li {
     justify-content: start;
     margin: 15px 0;  
}


.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 200;
    font-size: small;
    color: rgb(112, 112, 112);
   
}

.dropdn {
    width: 8px;
    height: 8px;
    padding-left: 4px;
}

.cart{
    display: flex;
}

.cart a {
    color: #333;
    text-decoration: none;
    width: 100%;
    height: 25px;
    width: 25px;
    margin: 0px 12px ;
}

.cart img {
    height: 25px;
    width: 25px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 1000;
}


.menu-toggle .bar {
    transition: all 0.3s ease;
}

.hero {
    background: url('https://img.pikbest.com/wp/202409/stun-abstract-fashion-background-blue-cloth-in-stunning-3d-rendering_9727406.jpg!sw800') no-repeat center center/cover;
    height: 700px;
    display: flex;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    
}


.hero-text{
    align-items:flex-end;
    width: 100%;
    height: 90%;
    align-content:flex-end;
   
}

.hero-text h2 {
    font-weight: 400;
    font-size: 48px;
    margin: 0; 
    letter-spacing: 1px;
    
}


.hero-text p {
    font-size: 15px;
    margin: 20px 0;
    font-weight: 400;
    color: rgb(223, 220, 220)
}

.hero button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border: 0.5px solid #fff;
    background: none;
}


.product-heading {
    font-size: 32px;
    font-weight: 400;
}

.products {
    text-align: center;
    font-weight: 400;
    margin-bottom: 100px;
}

.product-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 80px 8px;
    width: 100%;
    justify-content: center;
}


.product-item img {
    width: 100%;
    height: auto;
}

.product-item h3 {
    font-weight: 100;
    text-align: left;
    font-size: 14px;
    margin: 5px 0px;
}

.product-item p {
    margin-top: 2px;
    font-size: 1 em;
    color: #333;
    text-align: left;
}


.back-in-stock {
    padding: 20px;
    text-align: left;
    
}

.back-in-stock .product-grid {
    display: grid;
    grid-gap: 275px 3px;
    justify-items: left;
    width: 100%;
}


.product-item-1 h2 {
   font-weight: 200;
}

.product-item-1 {
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 1;
    grid-row-end: span3;
}

.product-item-1 img {
    height: 800px;
    width: 900px;
}

.product-item-1 .right-arrow{
    height: 16px;
    width: 16px;

}



.product-item-2 {
    margin-top: 72px;
    grid-column-start: 4;
    grid-column-end: span col4-start;
    grid-row-start: 1;
    grid-row-end: span3;
}

.product-item-2 img {
    height: 400px;
    width: 320px;
}

.product-item-2 h3 {
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0px;
    margin: 10px 0px;
}

.product-item-2 p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.product-item-3 {
    grid-column-start: 4;
    grid-column-end: span col6-start;
    grid-row-start: 2;
    grid-row-end: span2;
}

.product-item-3 img {
    height: 300px;
    width: 320px;
}

.product-item-3 .right-arrow{
    padding-top: 0;
    height: 16px;
    width: 16px;    
}

.video-section {
    display: flex;
    width: 100%;
    justify-content: center;
}


.video-container {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    width: 800px;
    height: auto;
    background: #000;
   
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 450px 520px;
    grid-template-rows: 300px;
    grid-gap: 0px 20px;
    width: 100%;
    justify-content: center;
}

.section-item-1 {
    text-align: center;
}

.section-item-2 {
    text-align: center;
    padding: 35px;
}

.section-item-1 img {
    width: 100px;
    height: auto;
}

.section-item-2 img {
    width: 100px;
    height: auto;
}

.section-item-1 p {
    font-weight: 300;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.section-item-2 p {
    font-weight: 300;
    font-size: 14px;
    color: rgb(112, 112, 112);
}


footer {
    background-color: #fff;
    color: #333;
    padding: 0px;
    margin: 0px 300px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: medium;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 20px 0;
    color: rgb(112, 112, 112);
    font-weight: 200;
    font-size: 13px;
}




.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: rgb(112, 112, 112);
    text-decoration: none;
}

.footer-bottom {
    text-align: left;
    padding: 10px 20px;
    font-size: 10px;
}


.email-contact{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
 border-bottom: 0.5px solid rgb(233, 232, 232);
 padding-bottom: 50px;
}


.email {
    padding: 20px;
    margin: 5px;
}

.email input{
    padding: 10px;
    width: 250px;
}


.social-media img{
    margin-top: 80px;
    padding: 8px;
}

.country {
    margin-top: 25px;
    margin-left: 25px;

}

.country label {
    font-size: small;
    color: rgb(112, 112, 112);
}

select{
    margin: 10px 0px;
    padding: 10px 12px;
    font-size: small;
}


/* Media Queries */
@media (max-width: 1240px) {

    .hero {
        height: 700px;
    }

    .hero-text h2 {
        font-size: 48px;
    }

    .product-heading {
        font-size: 32px;
    }

    .product-grid{
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 220px 5px;
        justify-items: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 200;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
    }
    
    .product-item-1 img {
        height: 615px;
        width: 600px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }
    
    .product-item-2 {
        margin-top: 72px;
        grid-column-start: 4;
        grid-column-end: span col4-start;
        grid-row-start: 1;
        grid-row-end: span3;
    }
    
    .product-item-2 img {
        height: 260px;
        width: 233px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 4;
        grid-column-end: span col4-start;
        grid-row-start: 2;
        grid-row-end: span2;
    }
    
    .product-item-3 img {
        height: 270px;
        width: 233px;
    }

    /* ---------------------------------------------------- */
    

    .video-container {
        padding-bottom: 75%;
    }

    .section-grid {
    grid-template-columns: 800px;
    grid-template-rows: 200px;
    }

    .section-item-1 img,
    .section-item-2 img{
        width: 150px;
    }
    
    .section-item-1 p,
    .section-item-2 p{
        font-size: 13px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    footer{
            margin: 0px 50px;
    }
    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-section a
     {
        margin: 100px 0px;
    }

    .footer-section contact p {
    line-height: 100px;
    }

    .email p{
        padding: 10px 0px;
        margin: 0px;
        text-align: left;
    }

    .email-contact {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .email-contact input{
        padding:15px 50px 15px 10px;
    }
    
}

@media (max-width: 990px) {


    .nav-links {
    list-style: none;
    display: none;
    width: 25%;
    align-items: start;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    transition: 0.3s ease;
    text-align: left;
    margin-top: 80px;
}

    .nav-links{
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        left:0;
    }

    .hero {
        height: 500px;
    }

    .hero-text h2 {
        font-size: 2em;
    }

    .product-grid{
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 4px 230px;
        justify-content: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 200;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
        margin-left: 20px;
    }
    
    .product-item-1 img {
        height: 600px;
        width: 600px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }
    
    .product-item-2 {
        margin-top: 72px;
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 1;
        grid-row-end: span3;
    }
    
    .product-item-2 img {
        height: 260px;
        width: 233px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 2;
        grid-row-end: span2;
    }
    
    .product-item-3 img {
        height: 270px;
        width: 233px;
    }

    /* ---------------------------------------------------- */
    

    .video-container {
        padding-bottom: 75%;
    }

    .section-grid {
    grid-template-columns: 800px;
    grid-template-rows: 200px;
    }

    .section-item-1 img,
    .section-item-2 img{
        width: 150px;
    }
    
    .section-item-1 p,
    .section-item-2 p{
        font-size: 13px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    footer{
            margin: 0px 50px;
    }
    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-section a
     {
        margin: 100px 0px;
    }

    .footer-section contact p {
    line-height: 100px;
    }

    .email p{
        padding: 10px 0px;
        margin: 0px;
        text-align: left;
    }

    .email-contact {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    
}

@media (max-width: 748px) {


    header{
        margin-left: 0px;
    }


    .nav-links {
    list-style: none;
    display: none;
    width: 25%;
    align-items: start;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    transition: 0.3s ease;
    text-align: left;
    margin-top: 80px;
}

    .nav-links{
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        left:0;
    }

    .hero {
        height: 500px;
    }

    .hero-text h2 {
        font-size: 2em;
    }

    .product-grid{
        grid-template-columns: 350px 350px;
        grid-template-rows: 350px 350px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 0px 10px;
        justify-content: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 100;
    }

    .product-item-1 h3 {
       font-weight: 100;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
        margin-left: 20px;
    }
    
    .product-item-1 img {
        height: 600px;
        width: 680px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    
    .product-item-2 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
        margin-left: 15px;
    }
    
    .product-item-2 img {
        height: 320px;
        width: 340px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
    }
    
    .product-item-3 img {
        height: 350px;
        width: 340px;
    }
    
    .product-item-3 h3 {
        font-weight: 100;
    }

    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }

    /* ---------------------------------------------------- */
    

    .video-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    
    .video-container {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
        width: 700px;
        height: auto;
        background: #000;
       
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .section-grid {
    grid-template-columns: 600px;
    grid-template-rows: 200px;
    }

    .section-item-1 img,
    .section-item-2 img{
        width: 150px;
    }
    
    .section-item-1 p,
    .section-item-2 p{
        font-size: 13px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    footer{
            margin: 0px 50px;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-section a
     {
        margin: 100px 0px;
    }

    .footer-section contact p {
    line-height: 100px;
    }

    .email p{
        padding: 10px 0px;
        margin: 0px;
        text-align: left;
    }

    .email-contact {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .email-contact p{
        text-align: center;
        margin-bottom: 15px;
    }

    .email-contact input{
        padding: 15px 20px 15px 5px;

    }

    .social-media img{
        margin-top: 5px;
        padding: 8px;
    }

    
}

@media (max-width: 574px) {


    header{
        margin-left: 0px;
    }


    .nav-links {
    list-style: none;
    display: none;
    width: 25%;
    align-items: start;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    transition: 0.3s ease;
    text-align: left;
    margin-top: 80px;
}

    .nav-links{
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        left:0;
    }

    .hero {
        height: 400px;
    }

    .hero-text{
        align-items: center;
        align-content: center;
    }

    .hero-text h2 {
        font-size: 2.5em;
    }
    
    .hero-text p {
        font-size: 16px;
        font-weight: 400;
    }

    .product-grid{
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 25px 20px;
        justify-content: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 100;
    }

    .product-item-1 h3 {
       font-weight: 100;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
        margin-left: 20px;
    }
    
    .product-item-1 img {
        height: 450px;
        width: 500px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    
    .product-item-2 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
        margin-left: 20px;
    }
    
    .product-item-2 img {
        height: 220px;
        width: 245px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
    }
    
    .product-item-3 img {
        height: 250px;
        width: 250px;
    }
    
    .product-item-3 h3 {
        font-weight: 100;
    }

    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }

    /* ---------------------------------------------------- */
    

    .video-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    
    .video-container {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
        width: 500px;
        height: auto;
        background: #000;
       
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .section-grid {
    grid-template-columns: 500px;
    grid-template-rows: 200px;
    }

    
}

@media (max-width: 430px) {


    header{
        margin-left: 0px;
    }

    .top-tag{
        font-size: 12px;
    }

    .cart a {
        color: #333;
        text-decoration: none;
        width: 100%;
        height: 20px;
        width: 20px;
        margin: 0px 5px ;
    }
    
    .cart img {
        height: 20px;
        width: 20px;
    }

    .logo {
        font-size: 14px;
    }

    .bar{
        height: 22px;
        width: 22px;
    };


    .nav-links {
    list-style: none;
    display: none;
    width: 25%;
    align-items: start;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    transition: 0.3s ease;
    text-align: left;
    margin-top: 80px;
}

    .nav-links{
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        left:0;
    }

    .hero {
        height: 400px;
    }

    .hero-text{
        align-items: center;
        align-content: center;
    }

    .hero-text h2 {
        font-size: 2.5em;
    }
    
    .hero-text p {
        font-size: 16px;
        font-weight: 400;
    }

    .product-heading{
        font-size: 32px;
    }
    
    .product-subheading{
        font-size: 16px;
    }

    .product-grid{
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 0px 0px;
        justify-items: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 100;
       font-size: 18px;
    }

    .product-item-1 h3 {
       font-weight: 100;
       font-size: 16px;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
        margin-left: 20px;
    }
    
    .product-item-1 img {
        height: 300px;
        width: 350px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    
    .product-item-2 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
        margin-left: 20px;
    }
    
    .product-item-2 img {
        height: 155px;
        width: 175px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
    }
    
    .product-item-3 img {
        height: 170px;
        width: 170px;
    }
    
    .product-item-3 h3 {
        font-weight: 100;
        font-size: 16px;
    }

    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }

    /* ---------------------------------------------------- */
    

    .video-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    
    .video-container {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
        width: 350px;
        height: auto;
        background: #000;
       
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .section-grid {
    grid-template-columns: 350px;
    grid-template-rows: 200px;
    }

    
}

@media (max-width: 375px) {


    header{
        margin-left: 0px;
    }

    .top-tag{
        font-size: 12px;
    }

    .cart a {
        color: #333;
        text-decoration: none;
        width: 100%;
        height: 20px;
        width: 20px;
        margin: 0px 5px ;
    }
    
    .cart img {
        height: 20px;
        width: 20px;
    }

    .logo {
        font-size: 14px;
    }

    .bar{
        height: 22px;
        width: 22px;
    };


    .nav-links {
    list-style: none;
    display: none;
    width: 25%;
    align-items: start;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    transition: 0.3s ease;
    text-align: left;
    margin-top: 80px;
}

    .nav-links{
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        left:0;
    }

    .hero {
        height: 400px;
    }

    .hero-text{
        align-items: center;
        align-content: center;
    }

    .hero-text h2 {
        font-size: 2.5em;
    }
    
    .hero-text p {
        font-size: 16px;
        font-weight: 400;
    }

    .product-heading{
        font-size: 32px;
    }
    
    .product-subheading{
        font-size: 16px;
    }

    .product-grid{
        grid-template-columns: 180px 180px;
        grid-template-rows: 180px 180px;
    }


    /*-------------------- Back in stock-------------------- */

    
    .back-in-stock {
        padding: 20px;
        text-align: left;
        
    }
    
    .back-in-stock .product-grid {
        display: grid;
        grid-gap: 0px 0px;
        justify-items: left;
        width: 100%;

    }
    
    
    .product-item-1 h2 {
       font-weight: 100;
       font-size: 18px;
    }

    .product-item-1 h3 {
       font-weight: 100;
       font-size: 16px;
    }
    
    .product-item-1 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 1;
        grid-row-end: span3;
        margin-left: 20px;
    }
    
    .product-item-1 img {
        height: 280px;
        width: 320px;
    }
    
    .product-item-1 .right-arrow{
        height: 16px;
        width: 16px;
    
    }
    
    
    .product-item-2 {
        grid-column-start: 1;
        grid-column-end: span col2-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
        margin-left: 20px;
    }
    
    .product-item-2 img {
        height: 135px;
        width: 155px;
    }
    
    .product-item-2 h3 {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0px;
    }
    
    .product-item-2 p {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
    
    .product-item-3 {
        grid-column-start: 2;
        grid-column-end: span col4-start;
        grid-row-start: 3;
        grid-row-end: span3;
        margin-top: 40px;
    }
    
    .product-item-3 img {
        height: 150px;
        width: 160px;
    }
    
    .product-item-3 h3 {
        font-weight: 100;
        font-size: 16px;
    }

    .product-item-3 .right-arrow{
        padding-top: 0;
        height: 16px;
        width: 16px;    
    }

    /* ---------------------------------------------------- */
    

    .video-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    
    .video-container {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
        width: 350px;
        height: auto;
        background: #000;
       
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .section-grid {
    grid-template-columns: 300px;
    grid-template-rows: 200px;
    }

    .section-item-1 img{
        height: 64px;
        width: auto;
    }
    
    .section-item-2 img{
        height: 32px;
        width: auto;
    }

    
}